.welcome-container {
  width: 100%;
  height: 100%;
}
.loginCard {
  max-width: 300px;
  margin-bottom: 40px;
}
.user-mode-card {
  margin: 8px;
  font-size: 20px;
  min-width: 170px;
}
.user-mode-card i {
  width: 100%;
  height: 100%;
  padding-bottom: 26px;
  padding-top: 8px;
  text-align: center;
  vertical-align: middle;
  display: block;
  padding-left: 0px;
  color: white;
}
.user-mode-card .card-footer {
  height: 36px;
  width: 100%;
  margin: 0px;
  color: white;
}
.user-mode-card .card-footer h3 {
  margin: 0px;
  padding: 4px;
  font-weight: 500;
  width: 100%;
  text-align: center;
}
