<section layout="row" flex class="fullBody" data-ng-controller="Main as vm">
    <div ng-if="vm.mode === 'teacher'">
        <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                    md-component-id="sitenav"
                    md-is-locked-open="$mdMedia('gt-lg')">
            <md-content flex role="navigation">
                <ul class="docs-menu">
                    <li ng-repeat="state in vm.states" ui-sref-active="active" ng-click="vm.hideNav()">
                        <menu-link section="page">
                            <a class="md-button" ui-sref="{{state.sref}}"\>
                                <i class="md-pad" ng-class="state.icon"/>{{state.name}}
                            </a>
                        </menu-link>
                    </li>
                </ul>
            </md-content>
        </md-sidenav>
    </div>
    <md-content id="bottomUI" data-ui-view md-scroll-y role="main" class="md-padding md-default-theme well" flex></md-content>
</section>