<div data-ng-controller="UserMode as vm" layout="row" layout-align="center center" layout-fill class="layout-content">
    <md-button class="md-raised user-mode-card md-primary" ng-click="vm.teacherClick()">
        <i class="fa fa-user fa-5x"></i>
        <div class="card-footer">
            <h3>teacher</h3>
        </div>
    </md-button>
    <md-button class="md-raised user-mode-card md-accent" ng-click="vm.classClick()">
        <i class="fa fa-users fa-5x"></i>
        <div class="card-footer">
            <h3>classroom</h3>
        </div>
    </md-button>
</div>