<div data-ng-controller="SignUp as vm" layout="row" layout-align="center center" class="welcome-container">
    <md-content class="loginCard" layout="column" layout-align="center center">
        <form name="newUserForm">
            <md-input-container>
                <label>First Name</label>
                <input ng-model="vm.user.firstName" required ng-keypress="vm.keyPress($event)" name="fName">
                <div ng-messages="newUserForm.fName.$error">
                    <div ng-message="required">*</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Last Name</label>
                <input ng-model="vm.user.lastName" required ng-keypress="vm.keyPress($event)"/>
                <div ng-messages="newUserForm.fName.$error">
                    <div ng-message="required">*</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Email</label>
                <input type="email" name="email" ng-model="vm.user.username" required ng-keypress="vm.keyPress($event)"/>
                <div ng-messages="newUserForm.email.$error">
                    <div ng-message="required">*</div>
                    <div ng-message="email">Invalid Email</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" name="pass" ng-model="vm.user.password" required ng-keypress="vm.keyPress($event)"/>
                <div ng-messages="newUserForm.pass.$error">
                    <div ng-message="required">*</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Retype Password</label>
                <input type="password" name="pass2" ng-model="vm.user.password2" required ng-keypress="vm.keyPress($event)"/>
                <div ng-messages="newUserForm.pass2.$error">
                    <div ng-message="required">*</div>
                </div>
            </md-input-container>
            <section layout="row" layout-align="center center">
                <md-button class="md-raised md-primary sm-margin" ng-click="vm.createUser()">
                    <i class="fa fa-pencil"></i>
                    Sign Up
                </md-button>
                <md-button class="md-raised md-accent sm-margin" ng-click="vm.cancel()">
                    <i class="fa fa-remove"></i>
                    Cancel
                </md-button>
            </section>
        </form>
    </md-content>
</div>